<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.ActividadMapper">

	<select	id="getAllActividades" resultType="Actividad">
		SELECT * FROM actividad
	</select>
	
	<select	id="getActividadById" parameterType="int" resultType="Actividad">
		SELECT * FROM actividad WHERE idActividad=#{idActividad}
	</select>

	<select	id="getAllActividadesByIdPropiedad" parameterType="int" resultType="Actividad">
		SELECT * FROM actividad a, propiedad_actividad pa WHERE a.idActividad=pa.idActividad AND pa.idPropiedad=#{idPropiedad}
	</select>

</mapper>