<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.AlquilerMapper">

	<select	id="getAlquilerByID" parameterType="int" resultType="Alquiler">
		SELECT * FROM alquiler WHERE idAlquiler=#{idAlquiler}
	</select>
	
	<select	id="getAlquilerByClienteDNI" parameterType="int" resultType="Alquiler">
		SELECT * FROM alquiler WHERE dniCliente=#{dniCliente}
	</select>
	
	<insert id="addAlquiler" parameterType="Alquiler">
		INSERT INTO alquiler VALUES (#{idAlquiler}, #{idPropiedad}, #{dniCliente}, #{idActividad}, #{fecha_inicio}, #{fecha_fin}, #{precio})
	</insert>
	
	<update id="editAlquiler" parameterType="Alquiler">
		UPDATE alquiler SET idPropiedad=#{idPropiedad}, dniCliente=#{dniCliente}, idActividad=#{idActividad}, fecha_inicio=#{fecha_inicio}, fecha_fin=#{fecha_fin}, precio=#{precio} WHERE idAlquiler=#{idAlquiler}
	</update>
	
	<delete id="deleteAlquiler" parameterType="Alquiler">
		DELETE FROM alquiler WHERE idAlquiler=#{idAlquiler}
	</delete>

</mapper>